body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: aqua;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: bisque;
}

input {
      font-size: 2em;
      margin: 5px;
}

p {
    font-size: 1.5rem;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 2px solid brown;
}



.btn-circles {
    position: absolute;
}